#section4{
    min-height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


#section4 h1{
    color:var(--font-color);
    font-size: 6vmin;
}

#section4-button-div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#section4-button-div button {
    width: 100%;
    padding: 1vh 0;
    color:var(--font-color);
    background-color: var(--bg--color);
    font-size: 2vmin;
    cursor: pointer;
    border: solid 1px var(--font-color);
}

#section4-button-div button:hover {
    background-color:var(--font-color);
    color: var(--bg--color);
}

#section4-video{
    align-self: center;
}

.video-react-video{
    border: solid 1px var(--font-color);
    box-shadow: 0px 3px 3px 3px #00828F;
}
