
#header,#header-right-side{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 4vw;
}

#header{
    padding: 1.1vh 0;
}

#header-right-side{
    list-style: none;
}

#header-right-side p a,#header p{
    color:#08d3e5;
    text-decoration: none;
    padding: 0.5vh 0;
}
#header-right-side p{
    margin:0 0.5vw;
    padding:0 0.5vw;
    font-size: 3vmin;
}

#my-name{
    font-size: 1.9em;
    margin:0 2vw;
}

#header-right-side p a{
    transition-duration: 1.5s;
    transition-timing-function: ease;
}

#header-right-side p a:hover{
    border-bottom: 2px solid var(--font-color);
}

.toggle-button{
    position: absolute;
    right: 2rem;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 50px;
    height: 41px;
    background-color: var(--font-color);
    border-radius: 5px;
    align-items: center;
    cursor:pointer;
}

.toggle-button:hover{
    background-color: #3ab4c2;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    width: 55px;
    height: 46px;
}

.bar{
    height: 3px;
    width: 80%;
    background-color: black;
    border-radius: 20px;
}

@media(max-width:900px){
    .toggle-button{
        display: flex;
    }
    #header-right-side{
        display: none;
        padding:0.7vh;
    }
    #header-right-side p{
        width: 100%;
        flex-direction: column;
        text-align: center;
        padding:0.5vh 0
    }
    #header-right-side.active{
        display: flex;
    }

    #header,#header-right-side{
        flex-direction: column;
        align-items:center;
        justify-content: center;
    }

    #header-right-side p{
        font-size: 2.8vmin;
    }
}